# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\quantumtranspiler\quantumtranspiler\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
